@charset "utf-8";
* {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
img {
  border: none;
}
input,
select,
textarea {
  outline: none;
  border: none;
  background: none;
}
textarea {
  resize: none;
}
a {
  text-decoration: none;
}
body {
  background: #99d6f3;
}
.header {
  background: #ffffff;
  border-top: 2px solid #fa7d3c;
  height: 48px;
}
.header .logo {
  width: 83px;
  height: 31px;
  background: url(../imgs/logo.png) left top no-repeat;
  float: left;
  display: inline;
  margin: 8px 30px 13px 0;
}
.header .logo a {
  display: block;
  height: 100%;
  text-indent: -99em;
}
.header_comWidth {
  width: 1240px;
  margin-left: auto;
  margin-right: auto;
  *zoom: 1;
}
.header_comWidth:before,
.header_comWidth:after {
  display: table;
  content: "";
}
.header_comWidth:after {
  clear: both;
}
.header .search {
  float: left;
  display: inline;
  width: 568px;
  height: 28px;
  border: 1px solid #ccc;
  background-color: #F2F2F5;
  margin: 9px 0;
}
.header .search_input {
  width: 514px;
  float: left;
  display: inline;
  height: 28px;
  line-height: 28px \9;
  padding: 0 8px;
}
.header .search_btn {
  width: 17px;
  height: 16px;
  background: url(../imgs/search.png) left top no-repeat;
  margin-top: 5.5px;
  margin-right: 10px;
  float: right;
  display: inline;
}
.headerNav {
  float: right;
  display: inline;
  height: 22px;
  margin: 13px 0;
  font-family: "Microsoft Yahei", "微软雅黑";
  font-size: 12px;
}
.headerNav li {
  float: left;
  display: inline;
  margin-right: 29px;
}
.headerNav a {
  height: 22px;
  line-height: 22px;
  display: inline-block;
  color: #333333;
  background: url(../imgs/fx.png) left center no-repeat;
  padding-left: 26px;
}
.headerNav a:hover {
  color: #fa7d3c;
}
.main {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  background-color: #7fc3e2;
  padding-top: 16px;
  *zoom: 1;
}
.main:before,
.main:after {
  display: table;
  content: "";
}
.main:after {
  clear: both;
}
.leftArea {
  width: 750px;
  float: left;
  display: inline;
}
.rightArea {
  width: 230px;
  float: right;
  display: inline;
}
.leftArea_cont {
  width: 150px;
  float: left;
  display: inline;
}
.leftCont {
  width: 600px;
  float: right;
  display: inline;
}
.nav {
  font-size: 12px;
  font-family: "Microsoft Yahei", "微软雅黑";
  line-height: 24px;
}
.nav a {
  color: #fff;
  height: 34px;
  display: inline-block;
  padding-left: 15px;
}
.nav a:hover {
  background-color: #98CEE7;
}
.nav_line {
  height: 1px;
  background-color: #fff;
  overflow: hidden;
  margin: 12px 0;
}
.nav .strong_font {
  font-weight: bold;
}
.releaseBox {
  height: 147px;
  padding: 15px;
  background-color: #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.releaseBox .release_top {
  padding: 0 12px;
  *zoom: 1;
  margin-bottom: 8px;
}
.releaseBox .release_top:before,
.releaseBox .release_top:after {
  display: table;
  content: "";
}
.releaseBox .release_top:after {
  clear: both;
}
.releaseBox .release_text {
  width: 177px;
  height: 18px;
  background: url(../imgs/xf.png) left center no-repeat;
  text-indent: -99em;
  float: left;
  display: inline;
}
.releaseBox .release_links {
  float: right;
  display: inline;
  height: 18px;
  line-height: 18px;
  font-family: "Microsoft Yahei", "微软雅黑";
  font-size: 12px;
}
.releaseBox .release_links a {
  color: #32a2d5;
}
.releaseBox .release_links a:hover {
  text-decoration: underline;
}
.releaseBox .release_area {
  height: 78px;
  border: 1px solid #ccc;
  margin: 0 10px;
  margin-bottom: 5px;
}
.releaseBox .release_area textarea {
  width: 100%;
  height: 78px;
  line-height: 20px;
  font-family: "Microsoft Yahei", "微软雅黑";
  font-size: 12px;
}
.releaseBox .release_select {
  *zoom: 1;
  padding: 0 10px;
}
.releaseBox .release_select:before,
.releaseBox .release_select:after {
  display: table;
  content: "";
}
.releaseBox .release_select:after {
  clear: both;
}
.releaseBox .release_texts {
  padding-top: 10px;
  float: left;
  display: inline;
  font-family: "Microsoft Yahei", "微软雅黑";
  font-size: 12px;
}
.releaseBox .release_texts li {
  float: left;
  display: inline;
  margin-right: 20px;
}
.releaseBox .release_texts a {
  height: 19px;
  line-height: 19px;
  color: #333333;
  padding-left: 25px;
  display: inline-block;
}
.releaseBox .release_texts a:hover {
  color: #fa7d3c;
}
.releaseBox .release_texts li:nth-of-type(1) a {
  background: url(../imgs/smile.png) left center no-repeat;
}
.releaseBox .release_texts li:nth-of-type(2) {
  background: url(../imgs/pic.png) left center no-repeat;
}
.releaseBox .release_texts li:nth-of-type(3) {
  background: url(../imgs/video.png) left center no-repeat;
}
.releaseBox .release_texts li:nth-of-type(4) {
  background: url(../imgs/huati.png) left center no-repeat;
}
.releaseBox .release_texts li:nth-of-type(5) {
  background: url(../imgs/sd.png) left center no-repeat;
}
.releaseBox .release_btns {
  float: right;
  display: inline;
}
.releaseBox .u_release_btn {
  width: 82px;
  height: 30px;
  margin-top: 4px;
  background: #FFC09F;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-family: "Microsoft Yahei", "微软雅黑";
  font-size: 14px;
  color: #FFF;
}
.releaseBox .u_btn_active {
  background: #FF8140;
}
